---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: helloworlds.hello.example.com
spec:
  group: hello.example.com
  names:
    kind: HelloWorld
    listKind: HelloWorldList
    plural: helloworlds
    singular: helloworld
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: HelloWorld is the Schema for the helloworlds API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of HelloWorld
            properties:
              count:
                description: Count is the number of times to display the message
                format: int32
                type: integer
              message:
                description: foo is an example field of HelloWorld. Edit helloworld_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: status defines the observed state of HelloWorld
            properties:
              configMapCreated:
                description: ConfigMapCreated indicates if the ConfigMap was created
                type: boolean
              phase:
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
